@import "../../Assets/sass/settings/settings"

.MainList
	width: 100%
	padding: 0 0 80px
	&__title
		font-size: 48px
		color: #565656
		margin-bottom: 50px
	&__main
		display: flex
		gap: 40px
		width: 100%
		&-left
			width: 300px
			flex-shrink: 0
		&-right
			flex: 1
	&__menu
		display: flex
		flex-direction: column
		gap: 10px
		min-height: 400px
		&-itemWrapper
		&-item
			width: 100%
			text-decoration: none
			display: flex
			justify-content: space-between
			align-items: center
			padding: 15px 10px
			color: #535353
			font-size: 20px
			border: 1px solid #d8d7d7
			background: #efefef
			border-radius: 6px
			&:hover, &_active
				background: #d8d7d7